<div class="modal-body">
    <div id="all-cart-items">
    <% cart_items.each do |ci|%>
        <%= image_tag ci.product.images.first, style: "width: 100px;height: 100px;" %>
        <%= ci.product.model %><br>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
        <%= link_to "+", increment_cart_item_path(ci), class:"btn btn-outline-primary", remote: true%>
        <%= link_to "-", decrement_cart_item_path(ci), class:"btn btn-outline-primary", remote: true%>
        </div>
        <div id = "QuantityStatus<%=ci.id%>">
        </div>
        <hr>
    <% end %>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>

<script>

</script>