<%= form_for @product do |f|%>
 <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> Prohibited this Customer from being saved:</h2>

    <ul>
      <% @product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<div class="mb-3">
  <%= f.label :brand, class: "form-label"%><br>
</div>
<div class="mb-3">
  <%= f.text_field :brand, class: "form-control", id: "exampleFormControlInput1" %><br>
</div>
<div class="mb-3">
  <%= f.label :model, class: "form-label" %><br>
</div>
<div class="mb-3">
  <%= f.text_field :model, class: "form-control", id: "exampleFormControlInput1"%><br>
</div>
<div class="mb-3">
  <%= f.label :category, class: "form-label" %>
</div>

<select id="independent" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
  <option value="A"> Kitchen </option>
  <option value="B"> Home </option>
  <option value="C"> Mobile </option>
</select>

<div class="mb-3">
  <%= f.label :sub_category, class: "form-label", id: "exampleFormControlInput1" %>
</div>
 <select id="dependent" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
  <option value="A">Electric Chimney</option>
  <option value="A">Electric Coffe Grinder</option>
  <option value="A">Mixer</option>
  <option value="A">Refrigrator</option>
  <option value="A">Microwave</option>
  <option value="A">Coffe Grinder</option>
  <option value="A">Electric Kettle</option>
  <option value="B">TV</option>
  <option value="B">AC</option>
  <option value="B">Vacume</option>
  <option value="B">Geyser</option>
  <option value="B">Cooler</option>
  <option value="B">Water Purifier</option>
  <option value="C">Adapter</option>
  <option value="C">Cabel</option>
  <option value="C">Charger</option>
  <option value="C">OTG</option>
  <option value="C">Holder</option>
  <option value="C">Tri Pod</option>
  <option value="C">Power bank</option>
</select>

<div class="mb-3">
  <%= f.label :price, class: "form-label"%>
</div>
<div class="mb-3">
  <%= f.text_field :price, class: "form-control", id: "exampleFormControlInput1"%>
</div>
<div class="mb-3">
  <%= f.label :images, class: "form-label"%>
</div>
<div class="mb-3">
  <%= f.file_field :images, multiple: true, class:"form-control form-control-lg", id: "exampleFormControlInput1" %>
</div>

<%= f.submit "Update Product", class: "btn btn-primary" %>
<% end %>
