<%= form_for @product do |f|%>
 <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> Prohibited this Customer from being saved:</h2>

    <ul>
      <% @product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<%= f.label :brand%><br>
<%= f.text_field :brand%><br>

<%= f.label :model%><br>
<%= f.text_field :model%><br>

<%= f.label :category %><br>
<select id="independent" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option value="A"> Kitchen </option>
  <option value="B"> Home </option>
  <option value="C"> Mobile </option>
</select>

<%= f.label :sub_category%><br>
 <select id="dependent" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option value="A">Electric Chimney</option>
  <option value="A">Electric Coffe Grinder</option>
  <option value="A">Mixer</option>
  <option value="A">Refrigrator</option>
  <option value="A">Microwave</option>
  <option value="A">Coffe Grinder</option>
  <option value="A">Electric Kettle</option>
  <option value="B">TV</option>
  <option value="B">AC</option>
  <option value="B">Vacume</option>
  <option value="B">Geyser</option>
  <option value="B">Cooler</option>
  <option value="B">Water Purifier</option>
  <option value="C">Adapter</option>
  <option value="C">Cabel</option>
  <option value="C">Charger</option>
  <option value="C">OTG</option>
  <option value="C">Holder</option>
  <option value="C">Tri Pod</option>
  <option value="C">Power bank</option>
</select>

<%= f.label :price%><br>
<%= f.text_field :price%><br>

<%= f.label :images%><br>
<%= f.file_field :images, multiple: true %><br>

<%= f.submit %>
<% end %>