<div>
  <% if @product.images.attached?  %>
    <% @product.images.each do |image| %>
      <div class="col align-self-start">
         <%= image_tag image, width: "300px", height: "210px"%>
      </div>
    <% end %> 
  <% else %>
    <p>Please insert images</p>
  <% end %> 
</div>
<div>
  <p> <em> Seller: <%= @product.user.profile.name %> </em></p>
  <p>Company: <%= @product.brand%> </p>
  <p>Model: <%= @product.model %></p>
  <p>Price: <%= @product.price %></p>
</div>


<% if current_user == @product.user %>
    <%= link_to "Edit Product", edit_product_path(@product)%>
    <%= link_to "Delete Product", product_path(@product), method: :delete%>
<% end %>

<% if user_signed_in? && current_user.cart.cart_items.find_by(product_id: @product.id).present?%>
  <%=  link_to "Add to Cart", cart_items_path, class: "btn btn-primary", data: {bs_target: "#CartItems", bs_toggle: "modal", remote: true}%>
<% elsif user_signed_in? %>
 <%= link_to "Add to Cart", register_cart_item_path(id: @product), class: "btn btn-primary", data: {bs_target: "#CartItems", bs_toggle: "modal", remote:true}, method: :post%>
<% else %>
  <%=  link_to "Add to Cart", user_session_path, class: "btn btn-primary" %>
<% end %>

<div class="modal fade" id="CartItems" tabindex="-1" aria-labelledby="CartItemsLabel" aria-hidden="true">
  <div class="modal-dialog" style="
    margin-right: 0px;
    margin-top: 10px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CartItemsLabel">Cart Items</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="CartItemsModal">

      </div>
    </div>
  </div>
</div>